.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins


# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/app/google-services.json

**/ios/Runner/GoogleService-Info.plist