<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>29194512273-r6i13a4mk5tq27rou40ihb9d3nlt19jq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29194512273-r6i13a4mk5tq27rou40ihb9d3nlt19jq</string>
	<key>API_KEY</key>
	<string>AIzaSyC7BmeiT034UEdUDjTK8Z2Z993rh9NFw2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>29194512273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wazzups.easylist</string>
	<key>PROJECT_ID</key>
	<string>easylist-ee564</string>
	<key>STORAGE_BUCKET</key>
	<string>easylist-ee564.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29194512273:ios:9e262f333499830d</string>
	<key>DATABASE_URL</key>
	<string>https://easylist-ee564.firebaseio.com</string>
</dict>
</plist>